main {
  padding: 10px
}

.brand-logo {
  margin-left: 20px;
}

.cover {
  max-height: 30px;
  margin: auto;
}

.iconCell {
  padding: 5px;
}

td, div.input-field {
 padding: 2px;
 margin: 0px;
}

.progress-td{
  padding: 50px;
  background-color: white;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  padding-left: 10px;
  font-size: 0.9em;
  font-style: italic;
  font-weight: bold;
}

#footer .progress {
  vertical-align: middle;
}

#modalResult, #modalResult.modal-footer {
  background-color: white;
}

#modalResult.modal-content{
  padding-top: 0px;
}

#failureTab, #successTab{
  padding-top: 10px;
}
