

main {
  padding: 10px
}

.brand-logo {
  margin-left: 20px;
}

.cover {
  max-height: 30px;
  margin: auto;
}

.iconCell {
  padding: 5px;
}

td, div.input-field {
 padding: 0px;
 margin: 0px;
}

.progress-td{
  padding: 50px;
  background-color: white;
}
